body {
    background-color: #FDFCDC;
}

.intro-image {
    width: 700px;
    height: auto;
}

h1,
h2 {
    background-color: #FED9B7;
    text-align: center;
}

.intro-section {
    background-color: #00AFB9;
}


/* Color palette:
https://coolors.co/palette/0081a7-00afb9-fdfcdc-fed9b7-f07167
*/